<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Produtos</title>
</head>
<body>
    <h1>Adicionar Produtos à Venda</h1>
    <form method="post">
        {% csrf_token %}
        <label for="produto">Produto:</label>
        <select name="produto_id" id="produto">
            {% for produto in produtos %}
                <option value="{{ produto.id }}">{{ produto.nome_produto }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="quantidade">Quantidade:</label>
        <input type="number" name="quantidade" id="quantidade" required>
        <br>
        <input type="submit" value="Adicionar Produto">
    </form>
    <br>
    <a href="{% url 'finalizar_venda' venda.identificador_unico %}">Finalizar Venda</a>
</body>
</html>
